@media screen and (min-width: 768px) {
	header {
		font-size: 3rem;
	}

	.book-form-wrapper {
		min-width: 60vw;
		font-size: 18px;
	}

	.book-card-wrapper {
		grid-template-columns: repeat(2, minmax(50vw, 1fr));
	}

	.book-card-wrapper > * {
		width: 44vw;
		font-size: 1rem;
		gap: 1.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.book-form-wrapper {
		min-width: 40vw;
		font-size: 20px;
	}

	.book-card-wrapper > * {
		width: 44vw;
		font-size: 1.25rem;
		gap: 1.75rem;
	}
}
